log_level :info
log_location STDOUT
local_mode true
chef_zero.enabled true
ssl_verify_mode "verify_peer"
role_path         "{{user `chef_dir`}}/roles"
data_bag_path     "{{user `chef_dir`}}/data_bags"
cookbook_path     [ "{{user `chef_dir`}}/cookbooks" ]
node_name         "{{user `chef_node_name`}}"
